@media (min-width: 1024px) {


    *
    {
        padding: 0px;
        margin: 0px;
    }

    .containerhead
    {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 60px;
        background-color: #111111; 
        
    }

    #logo
    {
        position: absolute;
        left: 50px;
        top: -30px;
        height: 128px;
        width: 128px;
        transition: 0.2s;

    }

    #logo:hover
    {
        transform: scale(1.1);
        transition: 0.2s;

    }

    body
    {
        font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

        background-color: #080808;
    }

    
    h1
    {
        color: white;
        font-size: 100px;
        position: absolute;
        left: 15%;
        top: 35%;
    }

    a
    {
        color: white;
        transition: 0.2s;
    }

    a:hover
    {
        color: #8d8d8d;
        transition: 0.2s;
    }

    #gif
    {
        
        position: absolute;
        top: 60%;
        left: 30%;
        transform: scale(0.7);
    }


}




















































@media (max-width: 1024px) {


    *
    {
        padding: 0px;
        margin: 0px;
    }

    .containerhead
    {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 60px;
        background-color: #111111; 
        
    }

    #logo
    {
        position: absolute;
        left: 50px;
        top: -30px;
        height: 128px;
        width: 128px;
        transition: 0.2s;

    }

    #logo:hover
    {
        transform: scale(1.1);
        transition: 0.2s;

    }

    body
    {
        font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

        background-color: #080808;
    }

    
    h1
    {
        color: white;
        font-size: 50px;
        position: absolute;
        left: 15%;
        top: 15%;
    }

    a
    {
        color: white;
        transition: 0.2s;
    }

    a:hover
    {
        color: #8d8d8d;
        transition: 0.2s;
    }

    /*#gif
    {
        
        position: absolute;
        left: -40%;
        Top : 45%;

        transform: translate(40%, -45%);
        
        transform: scale(0.4);
    }*/

    .center
    {
        text-align: center;
        display: flex;
        margin-top: 80%;
        margin-left: -45%
        
    }
    #gif
    {
        transform: scale(0.4);
        display: flex;



    }


}